In [1]:
from collections import namedtuple

In [2]:
Point = namedtuple('Point',['x','y'])

In [3]:
p = Point(11,22)

In [4]:
print(p)

Point(x=11, y=22)

In [5]:
Point

__main__.Point

# pythonic code

## join/split

In [11]:
colors = ['red','blue','green']
result = ''
for s in colors :
    result += s
result

'redbluegreen'

In [12]:
colors = ['red','blue','green']
result = ''.join(colors)
result

'redbluegreen'

In [13]:
example = "my name is seungyong"
result = example.split()
result

['my', 'name', 'is', 'seungyong']

## list

In [17]:
list_example = [i for i in range(10) if i % 2 == 0]
list_example

[0, 2, 4, 6, 8]

In [45]:
word_1 = "hello"
word_2 = "world"
result = [i+j for i in word_1 for j in word_2 if not(j=='l')]
result

['hw',
 'ho',
 'hr',
 'hd',
 'ew',
 'eo',
 'er',
 'ed',
 'lw',
 'lo',
 'lr',
 'ld',
 'lw',
 'lo',
 'lr',
 'ld',
 'ow',
 'oo',
 'or',
 'od']

In [27]:
words = 'The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [28]:
case_1 = ['a','b','c']
case_2 = ['c','d','b']

In [43]:
result = [[j + i for i in case_1] for j in case_2]
result

[['ca', 'cb', 'cc'], ['da', 'db', 'dc'], ['ba', 'bb', 'bc']]

## enumerate/zip

In [41]:
for i, v in enumerate(['tic', 'tac','toe']):
    print(f"{i:^10} \t {v}")

    0      	 tic
    1      	 tac
    2      	 toe

In [47]:
my_string = "HELLO WORLD"
{i:v for i,v in enumerate(my_string)}

{0: 'H',
 1: 'E',
 2: 'L',
 3: 'L',
 4: 'O',
 5: ' ',
 6: 'W',
 7: 'O',
 8: 'R',
 9: 'L',
 10: 'D'}

In [48]:
a_list = ['a','b','c']
b_list = ['d','e','f']

In [50]:
for a,b in zip(a_list, b_list) :
    print(a+b)

ad
be
cf

In [51]:
for c in zip(a_list, b_list) :
    print(c)

('a', 'd')
('b', 'e')
('c', 'f')

In [52]:
math = (100,80,90)
science = (90,92,90)
english = (99,93,99)

In [54]:
[sum(value)/3 for value in zip(math,science,english)]

[96.33333333333333, 88.33333333333333, 93.0]

## lambda/map/reduce

In [61]:
def f(x,y):
    return(x+y)
f(2,3)

5

In [71]:
x1 = lambda x :x+5

In [66]:
x1(1,5) #lambda 권장하지 않음 python 3 부터

6

In [67]:
list_1 = [1,2,3,4]

In [72]:
list(map(x1,list_1))

[6, 7, 8, 9]

In [73]:
[x1(value) for value in list_1]

[6, 7, 8, 9]

## iterable objects

In [74]:
# __iter__ and __next__
cities = ['Seoul','Guatemala','HongKong']
memory_address_cities = iter(cities)

In [75]:
next(memory_address_cities)

'Seoul'

In [76]:
#generators

In [77]:
gen_ex = (n for n in range(100))

In [78]:
type(gen_ex)

generator

In [79]:
gen_ex

In [80]:
list(gen_ex)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

## function arguments

In [81]:
#keyword arguments

In [82]:
def print_name(my_name,your_name):
    print(f"my name is {my_name}, your name is {your_name}")

In [84]:
print_name(my_name = "seungYOng", your_name ="Joseph")

my name is seungYOng, your name is Joseph

In [85]:
#default argument

In [86]:
def print_name(my_name,your_name = "Holland"):
    print(f"my name is {my_name}, your name is {your_name}")

In [88]:
print_name("seungYon", "joseph")

my name is seungYon, your name is joseph

## variable-length asterisk

In [99]:
# *args

In [158]:
def sum_arg(a,b,*args):
    print(a+b+sum(args))

In [159]:
sum_arg(1,2,3,4+10)

20

In [102]:
# ** kwargs

In [136]:
def sum_kwarg(a,b,**kwargs):
    print(a+b +sum(list(kwargs.values())))

In [137]:
sum_kwarg(1,2,one=1,two=3)

7

In [138]:
# unpacking container

In [177]:
def ask_test(a,b,*args):
    print(a,b,*args)

In [178]:
test = (3,4,5)

In [179]:
ask_test(1,2,*test)

1 2 3 4 5

In [193]:
data = ([1,2] ,[3,4])
a, b = data

In [194]:
print(a,b)

[1, 2] [3, 4]

In [198]:
for value in zip(*data) :
    print(sum(value))

4
6

In [206]:
string = "#you #only #live"
string.rstrip("#")

'#you #only #live'

In [209]:
a,b,*c = (1,2,3,4,5,6)

In [210]:
c

[3, 4, 5, 6]